[data-theme="vahan"] {
    --color-primary: #225796;
    --color-preferredMaker: #e8ffe4;
    --color-competitorMaker: #fff8f8;
    --color-someGray: #5a5f65;
    --color-leaderBoardGreen: #58a942;
    --color-leaderBoardBlue: #0a84ff;
    --color-leaderBoardOrange: #f89920;
    --color-leaderBoardRed: #ff543e;
}
